doctype html
html
    block cool-config
    head 
        title=titleforgooglesearch
        meta(name="descriptionforgooglesearch", content=mydescriptionforgooglesearch)
    body
        block awesome-resume
