doctype html
html
    block cool-config
    head 
        title=Resume
        meta(name="description", content=mydescriptionforgooglesearch)
        link(rel="stylesheet", href="style.css")
    body
        block awesome-resume
