.landing-page {
    min-height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    background-image: radial-gradient(#86A8E7, #7F7FD5)

}

.landing-page__wrapper {
    text-align: center;
}

.landing-page__name{
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    border-style: black;
}

.landing-page__title {
    font-size: 3rem;
    text-transform: capitalize;
    color: white;
}


.landing-page__title{
    Left: 500px;
}


.landing-page__title:active{
    position: relative;
    -webkit-transition: right 2s ease-in-out;
    -moz-transition: right 2s ease-in-out;
    -ms-transition: right 2s ease-in-out;
    -o-transition: right 2s ease-in-out;
    transition: right 2s ease-in-out;
    
}



.landing-page__social {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}

.landing-page__label {
    color: white;
    padding:0.1rem 0.3rem;
    font-size: 2rem;
    cursor: pointer;
 
}



.landing-page__box-radio:checked + 
.landing-page__box-message{
    padding: 1rem 0;
    display: inline-block;

}

.landing-page__box-radio,
.landing-page__box-message{
    display: none;
}

#default-message-radio:checked+
.landing-page__box-message + 
.landing-page__box-header {
    display: none;
}

.landing-page__box-body{
    display: block;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
    position: relative;
}

.landing-page__box-header{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 100%;
    display: flex;
    justify-content: space-between;
}

.landing-page__box-info,
.landing-page__box-close {
    background: white;
    padding: 0.4rem;
    white-space: nowrap;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.landing-page__box-info {
    border-bottom-left-radius: 0.5rem;
    flex-grow: 1;
}

.landing-page__box-close {
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.5rem;
}

.landing-page__box-link,
.landing-page__box-link:visited,
.landing-page__box-message {
    color: white;
}

.landing-page__box-link,
.landing-page__box-link:visited {
    font-size: 1.4rem;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80vmin;
    display: block;
}

.landing-page__footer{
    position: fixed;
    margin-left: 50%;
    bottom: 0;
    width: 100%;
    display: flex;
    font-size: 0.7em;
    font-style: italic;
    background-color: aliceblue;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-top: 0.5rem;
 }

 .landing-page__wave{
        position: relative;
        top:0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        height: 100%;
        width: 200%;
        background-repeat: repeat-x;
        transform-origin: center bottom;
        color: black;
 }

 @keyframes wave{
     0% {transform: translateX(0) translateZ(0) scaleY(1);}
     0% {transform: translateX(-25%) translateZ(0) scaleY(0.5);}
     0% {transform: translateX(-50%) translateZ(0) scaleY(1);}
 }
