extends _component/layout/page
block cool-config
    -
        title=Resume
        var mytitleforgooglesearch = "Matthieu ROULAND - Resume" ;
        var mydescriptionforgooglesearch = "this is my homemade resume with HTML5, creativity and CSS3" ;


block awesome-resume
    include _component/landing-page/landing-page
    h1 this work
