extends _component/layout/page
block cool-config
    -
        title=Resume
        var mytitleforgooglesearch = "My really ultra cool cv" ;
        var mydescriptionforgooglesearch = "this is my homemade cv with HTML5 and CSS3" ;


block awesome-resume
    h1 this work
