extends _component/layout/page
block cool-config
    -
        title=Resume
        var mytitleforgooglesearch = "My really ultra cool cv" ;
        var mydescriptionforgooglesearch = "this is my homemade cv with HTML5 and CSS3" ;


block awesome-resume
    include _component/landing-page/landing-page
    h1 this work
